<div class="text-field__group">
  <div class="inputs">
    <label class="text-field__label" for="search">Search</label>
    <input #title class="text-field__input" type="search" id="search" name="search">
    <button class="text-field__btn" type="button" (click)="getQuestions(title.value, username.value, password.value)">
      search
    </button>
  </div>
  <div class="inputs">
    <label class="text-field__label" for="firstname">Username</label>
    <input class="text-field__input" #username type="text" name="firstname" id="firstname" placeholder="user">
  </div>
  <div class="inputs">
    <label class="text-field__label" for="city">Password</label>
    <input class="text-field__input" #password type="password" id="city" placeholder="password">
  </div>
  <div class="radio">
    <input type="radio" id="choice1"
           name="radio" value="email" (change)="getAnswered(isAnswered.checked)" #isAnswered>
    <label class="text-field__label" for="choice1">is answered</label>
  </div>
  <div class="radio">
    <input type="radio" id="choice2"
           name="radio" value="phone" (change)="getNotAnswered(isNotAnswer.checked)" #isNotAnswer>
    <label class="text-field__label" for="choice2">is not answered</label>
  </div>
  <div class="radio">
    <input type="radio" id="choice3"
           name="radio" value="mail" checked (change)="getAll()">
    <label class="text-field__label" for="choice3">all</label>
  </div>
</div>

<table class="table">
  <thead>
  <tr>
    <td>Name</td>
    <td>Title</td>
    <td>Creation date</td>
    <td>Is answered</td>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let question of questions">
    <td>{{question.owner.display_name}}</td>
    <td>{{question.title}}</td>
    <td>{{question.creation_date.date}}</td>
    <td>{{question.is_answered}}</td>
  </tr>
  </tbody>
</table>
